<!-- extend base layout -->
{% extends 'base.html' %}

{% block content %}

<script type='text/javascript'>
// Function to prompt user for username in order to join a meeting.
function set_joinLink(joinURL)
{
	fullName = prompt('Enter your display name:')
	document.location = joinURL+'/'+fullName
}

// Function to make the entire row clickable.
$(document).ready(function() {

    $('tr').click(function() {
        var href = $(this).find("a").attr("href");
        if(href) {
            window.location = href;
        }
    });

});

</script>
<table id='Overview'>	
	<tr class='clickableRow' href='http://www.google.com'>
		<th>Meeting Name</th>
		<th>Participants</th>
		<th>Time Created</th>
		<!-- <th>Teilnehmer PW</th>
		<th>Admin PW</th> -->
		<!-- <th>running?</th> -->
		<th></th>
		<th></th>
		<th></th>
	</tr>
	{% if meetings != [] %}
	{% for m in meetings %}
	<tr>
		<td><a href="{{ url_for('meeting', meetingid=m.meetingid.string, moderatorpw=m.moderatorpw.string) }}">{{ m.meetingid.string }}</a></td>
		<td>{{ participants[m.meetingid.string] }}</td>
		<td>
			<script>document.write(moment("/Date({{m.createtime.string}}"));</script>
		</td>
		<!-- <td>{{m.attendeepw.string}}</td>
		<td>{{m.moderatorpw.string}}</td> -->
		<!-- <td>{{m.running.string}}</td> -->
		<td><a href="javascript:set_joinLink('{{ url_for('join', meetingid=m.meetingid.string, pw=m.attendeepw.string, createtime=m.createtime.string) }}');">Join as Attendee</a></td>
		<td><a href="javascript:set_joinLink('{{ url_for('join', meetingid=m.meetingid.string, pw=m.moderatorpw.string, createtime=m.createtime.string) }}');">Join as Moderator</a></td>
		<td><a href="{{ url_for('closeMeeting', meetingid=m.meetingid.string, moderatorpw=m.moderatorpw.string) }}">Shutdown Meeting</a></td>
	</tr>
	{% endfor %}
	{% else %}
	<tr>
		<td>&nbsp;</td>
		<td></td>
		<td></td>
		<td width="100px"></td>
		<td width="100px"></td>
		<td width="100px"></td>
	</tr>
	{% endif %}
</table>



{% endblock %}



