<!-- extend base layout -->
{% extends 'base.html' %}

{% block content %}

<script type='text/javascript'>
function set_joinLink(joinURL)
{
	fullName = prompt('Enter your display name:')
	document.location = joinURL+'/'+fullName
}

function selectText(obj) {      // adapted from Denis Sadowski (via StackOverflow.com)
            if (document.selection) {
                var range = document.body.createTextRange();
                range.moveToElementText(obj);
                range.select();
            }
            else if (window.getSelection) {
                var range = document.createRange();
                range.selectNode(obj);
                window.getSelection().addRange(range);
            }
        }

</script>


<h1><i>Meeting: </i><b>{{ mInfo.meetingid.string }}</b></h1>
<div>
<nav id='meeting'>
	<ul>
		<li>
			<a href="javascript:set_joinLink('{{ url_for('join', meetingid=mInfo.meetingid.string, pw=mInfo.attendeepw.string, createtime=mInfo.createtime.string) }}');" class='button'>Join as Attendee</a>
		</li>
		<li>
			<a href="javascript:set_joinLink('{{ url_for('join', meetingid=mInfo.meetingid.string, pw=mInfo.moderatorpw.string, createtime=mInfo.createtime.string) }}');" class='button'>Join as Moderator</a>
		</li>
		<li>
			<a href="{{ url_for('closeMeeting', meetingid=mInfo.meetingid.string, moderatorpw=mInfo.moderatorpw.string) }}" class='button'>Shutdown Meeting</a>
		</li>
	</ul>
</nav>
<br>
<table>	
	<tr>
		<td>running?</td>
		<td>{{ mInfo.running.string }}</td>
	</tr>
	<tr>
		<td>Participant Count</td>
		<td>{{ mInfo.participantcount.string }}</td>
	</tr>
	<tr>
		<td>moderator count</td>
		<td>{{ mInfo.moderatorcount.string }}</td>
	</tr>

	{% if mInfo.createtime.string %}
	<tr>
		<td>Create Time</td>
		<td>
			<script>document.write(moment("/Date({{mInfo.createtime.string}}"));</script>
		</td>
	</tr>
	{% endif %}
	<tr>
		<td>Admin PW</td>
		<td>{{ mInfo.moderatorpw.string }}</td>
	</tr>
</table>
</div>
</br></br>
<div>


<form action='' method='post' name='newparticipant'>
	{{form.hidden_tag()}}
	<p>
		Username: {{form.username(size=40)}}
		{% for error in form.errors.username %}
		<span style="color: red;">[{{error}}]</span>
		{% endfor %}<br>
	</p>
	<p>
		<input type='submit' value='Submit'>
	</p>
</form>
<br>
<br>
<table id='joinAttendee'>
	{% if joinUsers[mInfo.meetingid.string] %}
	<tr>
		<td>Username</td>
		<td>Join URL</td>
	<tr>
	{% for key, value in joinUsers[mInfo.meetingid.string].iteritems() %}
	<tr>
		<td>
			{{ key }}
		</td>
		<td onclick="selectText(this)">
			{{ value }}
		</td>
	</tr>
	{% endfor %}
	{% endif %}
</table>



{% endblock %}


	<!-- <tr>
		<td>Meeting ID</td>
		<td>{{ mInfo.meetingid.string }}</td>
	</tr>
	<tr>
		<td>Meeting Name</td>
		<td>{{ mInfo.meetingname.string }}</td>
	</tr>
	<tr>
		<td>Teilnehmer PW</td>
		<td>{{ mInfo.attendeepw.string }}</td>
	</tr>
	<tr>
		<td>Voice Bridge</td>
		<td>{{ mInfo.voicebridge.string }}</td>
	</tr>
	<tr>
		<td>Dial Number</td>
		<td>{{ mInfo.dialnumber.string }}</td>
	</tr>
	<tr>
		<td>recording?</td>
		<td>{{ mInfo.recording.string }}</td>
	</tr>
	<tr>
		<td>has benn forcibly ended?</td>
		<td>{{ mInfo.hasbeenforciblyended.string }}</td>
	</tr>
	<tr>
		<td>start Time</td>
		<td>{{ mInfo.starttime.string }}</td>
	</tr>
	<tr>
		<td>end Time</td>
		<td>{{ mInfo.endtime.string }}</td>
	</tr>
	<tr>
		<td>Max Users</td>
		<td>{{ mInfo.maxusers.string }}</td>
	</tr>
	<tr>
		<td>attendees</td>
		<td>{{ mInfo.attendees.string }}</td>
	</tr> -->


